<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="leon.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <header>
        <p>NavBar goes here</p>
    </header>
    <h1 class="centre"> Admin Page</h1>
    <hr>
    <div class="sidebar">
    <p>Filler</p>
    </div>
    <h2>Placeholder</h2>

    <footer>
        <p><a href="annie@fakeemail.com">annie@fakeemail.com</a></p>
    </footer>
</body>
</html>