<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <title>User authentication</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css'" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css'" %}">
</head>

<body>
    {% include 'layout/header.html' %}
    <div id="auth-container">
        {% if auth_method == "signup" %}
            {% include 'components/signup.html' %}
        {% endif %}
        {% if auth_method == "login" %}
            {% include 'components/login.html' %}
        {% endif %}
    </div>
    {% include 'layout/footer.html' %}
</body>
</html>