<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <title>Pet list</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Kiyo.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>
</head>
<body>
    {% include 'layout/header.html' %}
    <div id="pet-list-main">
        <form action="/search-pet" method="POST" id="search-pet" style="padding: 20px;">
            <h1>Modify pets</h1>
            {% csrf_token %}
            <div>
                <select name="species" id="species">
                    <option selected="true" disabled="disabled">Species</option>
                    <option value="dog">Dog</option>
                    <option value="dog">Cat</option>
                    <option value="dog">Others</option>
                </select>
                <select name="age" id="age" required>
                    <option selected="true" disabled="disabled">Age</option>
                    <option value="5">0~5</option>
                    <option value="6-9">6~9</option>
                    <option value="10">10~</option>
                </select>
                <select name="state" id="state" required>
                    <option selected="true" disabled="disabled">State</option>
                    <option value="NSW">NSW</option>
                    <option value="QLD">QLD</option>
                    <option value="VIC">VIC</option>
                    <option value="ACT">ACT</option>
                    <option value="SA">SA</option>
                </select>
            </div>
            <button id="submit" type="submit">Search</button>
            {% if error_msg %}
                <p style="color:red; background-color:white; padding:10px; border-radius: 5px;">
                    {{ error_msg }}
                </p>
            {% endif %}
        </form>
        <h2 style="padding-left: 30px;">{{ category }}</h2>
        {% include 'components/pet-list-home.html' %}
    </div>
    {% include 'layout/footer.html' %}
</body>
</html>