.venv
.vscode
.gitignore

SEF/__pycache__/forms.cpython-310.pyc
SEF/__pycache__/models.cpython-310.pyc
SEF/__pycache__/models.cpython-311.pyc
SEF/__pycache__/urls.cpython-310.pyc
SEF/__pycache__/urls.cpython-311.pyc
SEF/__pycache__/views.cpython-310.pyc
SEF/__pycache__/views.cpython-311.pyc
SEF/migrations/__pycache__/0001_initial.cpython-310.pyc
SEF/migrations/__pycache__/0001_initial.cpython-311.pyc
SEF/templates/pet-detail.html

web_project/__pycache__/settings.cpython-310.pyc
web_project/__pycache__/urls.cpython-310.pyc
web_project/__pycache__/urls.cpython-311.py
