<div id="footer-container">
    <div id="footer">
        <div id="footer-left">
            <h2>Find Pet</h2>
            <a href="/pet-list#dog">Dog</a>
            <a href="/pet-list#cat">Cat</a>
            <a href="/pet-list#other">Other</a>
        </div>
        <div id="footer-middle">
            <h2>Organisation</h2>
            <a href="/about-us">About us</a>
            <a href="/about-us#hiring">Hiring</a>
            <a href="/about-us#contribution">Contribution</a>
        </div>
        <div id="footer-right">
            <a href="/about-us#faq">FAQ</a>
            <a href="/about-us#terms-of-use">Terms of Use</a>
            <a href="/about-us#privacy-policy">Privacy Policy</a>
        </div>
    </div>
    <p id="copyright">&copy; Annie Arkwright</p>
</div>
