{% load static %}
<header id="header-desktop">
    <div id="header-left">
        <h1><a href="/" id="logo">ABC Pet Adoption</a></h1>
        <div>
            <a href="/pet-list">Pets</a>
            <a href="/about-us">About us</a>
        </div>
    </div>

    {% if request.session.login_user %}
        <div id="header-right">

            {% if request.session.login_user == 1 %}
            <a href="/admin" id="login">Admin</a>
            {% endif %}

            <a href="/pet-form" id="login">Create</a>
            <a href="/logout" id="signup">Logout</a>
        </div>
    {% else %}
        <div id="header-right">
            <a href="/authentication?auth_method=login" id="login">Login</a>
            <a href="/authentication?auth_method=signup" id="signup">Signup</a>
        </div>
    {% endif %}


    <div id="header-right-mobile">
        <img src="{% static 'images/icons/menu.png' %}" alt="menu" width="20">
    </div>
</header>
