<div id="list-menu">
    <div>
        <h2>Kinds</h2>
        <a href="/pet-list?kind=dog">Dog</a>
        <a href="/pet-list?kind=cat">Cat</a>
        <a href="/pet-list?kind=others">Others</a>
    </div>
    <div>
        <h2>Location</h2>
        <a href="/pet-list?location=qld">QLD</a>
        <a href="/pet-list?location=nsw">NSW</a>
        <a href="/pet-list?location=vic">VIC</a>
        <a href="/pet-list?location=sa">SA</a>
    </div>
    <div>
        <h2>Gender</h2>
        <a href="/pet-list?gender=male">Male</a>
        <a href="/pet-list?gender=female">Female</a>
    </div>
    <div>
        <h2>Size</h2>
        <a href="/pet-list?size=small">Small</a>
        <a href="/pet-list?size=medium">Medium</a>
        <a href="/pet-list?size=large">Large</a>
        <a href="/pet-list?size=xlarge">XLarge</a>
        <a href="/pet-list?size=xxlarge">XXLarge</a>
    </div>
    <div>
        <h2>Age</h2>
        <a href="/pet-list?age=5">~10 years old</a>
        <a href="/pet-list?age=5-10">5~10 years old</a>
        <a href="/pet-list?age=10">10~ years old</a>
    </div>
</div>