<div id="list-menu">
    <div>
        <h2>Species</h2>
        <a href="/pet-list?specie=dog">Dog</a>
        <a href="/pet-list?specie=cat">Cat</a>
        <a href="/pet-list?specie=others">Others</a>
    </div>
    <div>
        <h2>State</h2>
        <a href="/pet-list?state=qld">QLD</a>
        <a href="/pet-list?state=nsw">NSW</a>
        <a href="/pet-list?state=vic">VIC</a>
        <a href="/pet-list?state=sa">SA</a>
        <a href="/pet-list?state=act">ACT</a>
    </div>
    <div>
        <h2>Gender</h2>
        <a href="/pet-list?gender=male">Male</a>
        <a href="/pet-list?gender=female">Female</a>
    </div>
    <div>
        <h2>Age</h2>
        <a href="/pet-list?age=5">~5 years old</a>
        <a href="/pet-list?age=6-9">6~9 years old</a>
        <a href="/pet-list?age=10">10~ years old</a>
    </div>
</div>