<div id="pets">
    {% for pet in pets|slice:":20" %}
        <a href="/pet-detail?pet_id={{ pet.id }}" id="pet-box">
            <div id="pet-img">
                <img src="static/{{ pet.image_path }}" alt="{{ pet.name }} image">
            </div>
            <div id="pet-feature">
                <p>Name: {{ pet.name }}</p>
                <p>Status: {{ pet.status }}</p>
                <p>Location: {{ pet.suburb }} {{ pet.state }}
                <p>Date: {{ pet.date_added }}</p>
            </div>
        </a>
    {% endfor %}
</div>