<script defer>
    function authValidation(event) {
        var firstname = document.form.firstname.value;

        var nameRegularExp = /^[A-Za-z]+$/;

        if(firstname.value.trim() === '' || firstname.value === null)  {
            firstname.style.borderColor = 'red';
            event.preventDefault();
        } else if(!nameRegularExp.test(firstname.value)) {
            firstname.style.borderColor = 'red';
            event.preventDefault();
        }
    }
</script>

<div id="auth-box">
    <h2>Sign up</h2>
    <form id="auth-form" action="/signup" method="POST" onsubmit="return authValidation(event)">
        {% csrf_token %}
        <input type="text" name="firstname" id="firstname" placeholder="Firstname">
        <input type="text" name="lastname" id="lastname" placeholder="Lastname" required>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="text" name="email" id="email" placeholder="Email" required>
        <input type="text" name="phone" id="phone" placeholder="Phone" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button id="auth-form-button" type="submit" >SIGN UP</button>
    </form>
    <span>Already user? <a href="/authentication?auth_method=login">Login</a></span>
</div>