html {
    background-color: white;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 100%;
    color: black;
    margin: auto 70px auto 70px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Slab', Georgia, serif;
}

h1 {
    font-size: 250%;
    color: #172457;
    text-align: center;
}

h2 {
    font-size: 200%;
    color: #172457;
    text-transform: capitalize;
}

h3 {
    font-size: 170%;
    color: #7B85AD;
    text-transform: capitalize;
}

h4 {
    font-size: 140%;
    color: #7B85AD;
    background-color:  #f0f0f0;
    text-transform: capitalize;
}

h5 {
    font-size: 120%;
    color: black;
}

li {
    padding-left: 20px;
}

.figure--container {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 25px;
}

.image--container, .image--caption{
    margin: 0 auto;
    width: 400px;
}

.image--figure {
    width: 100%;
}

.image {
    min-width: 300px;
    max-width: 400px;
}

.figure--chart {
    padding: 10px 15px;
}

.chart--container, .chart--caption{
    margin: 0 auto;
    width: 700px;
}

.chart {
    min-width: 300px;
    max-width: 700px;
}

figcaption {
    padding-bottom: 15px;
    font-size: 70%;
    font-style: italic;
    border-bottom: 1px solid black;
}

header {
    background-color: #172457;
    font-size: 120%;
}

header a {
    color: white;
    padding: 14px 16px;
    text-align: center;
}
header a:hover {
    background-color: #7B85AD;
    color: black;
}

a {
    font-style: italic;
    color: black;
}
a:visited {
    color: #7B85AD;
}

.header--container {
    display: flex;
}
.header--container div {
    display: flex;
    width: 100%;
    float: right;
}

.header--right {
    width: 100%;
    display: flex;
}
.header--right div {
    justify-content: end;
}

.header--right div p {
    color: white;
    padding: 10px 10px 0 0;
    font-size: 70%;
    font-style: italic;
    text-align: right;
    float: right;
    text-align: center;
}

footer {
    background-color: #f0f0f0;
    padding: 2px 20px;
    border-radius: 10px;
    font-size: 70%;
}

footer p:nth-child(2) {
    margin-top: 0;
}

footer a {
    color: black;
}

.related {
    padding: 0 20px 30px 20px;
    border: 1px dotted black;
}