.form_container{
    text-align: center;
    width: 100px;
    height: 200px;
    display: flex;
    background-color: aquamarine;
}

#form{
    flex-direction: column;
}

.button{
    margin-top: 10px;
    width: 130px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #A0C49D;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
}
.button:hover {
    background-color: #A0C49D;
    border: none;
    color: white;
}