/*Student ID:22060887, Name:Shehryar Khan, Class:11am PS*/

/* Pet Details CSS */

body {
    font-family: 'Young Serif','Roboto Serif';
    background-color: #dedcdc;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.pet-details {
    background-color: #ffffff;
    max-width: 800px;
    height: 850px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.pet-details h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #A0C49D;
    text-decoration: underline;
    
}

/*Image Styles*/
.img-class{
    height: 400px;
    float: left;
}

.img-class img{
    float: left;
    margin-right: 2%;
    border: 1px solid #ddd;
    padding: 5px;
    max-width: auto;
    min-width: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.pet-details img:hover {
    box-shadow: 0 0 1px 1px #A0C49D;
}

/*Description Styles*/

.img-class p{
    font-size: 1.1em;
    text-align: justify;
    margin-left: 125px;
    margin-right: 15px;
    color: #333;
}

.img-class strong{
    color:  #2d6b28;
}
.other-details li{
    text-align: left;
    font-size: large;
    margin: 5px;
}

.other-details strong {
    color: #2d6b28;
}

.other-details{
    margin: 20px;
}

/*Button styles*/

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 30vh;          
}

.pet-form-btn {
    display: inline-block;
    padding: 20px 20px;
    background-color: #A0C49D;
    color: white;
    border-radius: 7px;
    font-family: 'Young Serif', serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pet-form-btn:hover {
    background-color: #89b087;
    text-decoration: none;
}
